@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.cdnfonts.com/css/digital-numbers');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Alata;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.6px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 20px;
    position: fixed;
    z-index: 2;
}

header .header-button-right {
    border-radius: 100%;
}

header .header-button-right a {
    display: flex;
    align-items: center;
    border-radius: 100%;
    transition: 0.5s;
}

header .header-button-right a:hover {
    box-shadow: rgba(255, 255, 255, 0.37) 0px 8px 15px;
    background-color: rgba(255, 255, 255, 0.37);
}

header .header-button-right a img {
    border-radius: 100%;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: 0.5s;
}

header .header-button-right a img:hover {
    transform: translateY(-5px);
    box-shadow: rgba(255, 255, 255, 0.37) 0px 8px 15px;
}

header .header-button-left {
    transition: 0.5s;
}

header .header-button-left:hover {
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.37);
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.37);
}

header .header-button-left .clock {
    background-color: #000;
    color: rgba(255, 255, 255, 0.822);
    padding: 10px;
    transition: 0.5s;
    font-family: 'Digital Numbers', sans-serif;
}

header .header-button-left .clock:hover {
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.37);
    border-radius: 50px;
    transform: translateY(-5px);
}

.time {
    font-size: 2rem;
    text-align: center;
}

/* estilização do menu responsivo */

.overlay {
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 28px;
    text-decoration: none;
    color: #818181;
    display: block;
    font-size: 34px;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 25px;
    right: 45px;
    font-size: 60px;

}

@media screen and (max-height: 458px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay,
    .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* main */

main {
    background-color: #000;
}

.main-top {
    padding: 60px;
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main-title h1 {
    position: relative;
    color: #fff;
    font-size: 2em;
    font-family: sans-serif;
}

.main-title p {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}

.main-top .main-title-content {
    padding: 20px 0 0 0;
}

.main-top .main-title-content p {
    color: #fff;
    font-family: sans-serif;
    font-size: 1.1vw;
}

.main-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px 0 0;
}

.main-top-right {
    padding: 20px;
}

.main-top-left {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 70px;
    padding: 50px;
}

.main-top-left a {
    border-radius: 10px;
    padding: 10px;
}

.main-top-left .email {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

.main-top-left .email:hover {
    color: #b8b8b8;
    transform: translateY(-5px);
    box-shadow: 0px 8px 6px rgba(146, 146, 146, 0.37);
}

.main-top-left .email:focus {
    transform: translateY(3px);
    box-shadow: none;
}

.main-top-left .linkedin {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

.main-top-left .linkedin:hover {
    color: #b8b8b8;
    transform: translateY(-5px);
    box-shadow: 0px 8px 6px rgba(146, 146, 146, 0.37);
}

.main-top-left .linkedin:focus {
    transform: translateY(3px);
    box-shadow: none;
}

.main-top-left .github {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

.main-top-left .github:hover {
    color: #b8b8b8;
    transform: translateY(-5px);
    box-shadow: 0px 8px 6px rgba(146, 146, 146, 0.37);
}

.main-top-left .github:focus {
    transform: translateY(3px);
    box-shadow: none;
}

.main-top-left .cv {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

.main-top-left .cv:hover {
    color: #b8b8b8;
    transform: translateY(-5px);
    box-shadow: 0px 8px 6px rgba(146, 146, 146, 0.37);
}

.main-top-left .cv:focus {
    transform: translateY(3px);
    box-shadow: none;
}

.main-top-left .whatsapp {
    text-decoration: none;
    color: #fff;

    display: flex;
    align-items: center;
    transition: all 0.5s;
}

.main-top-left .whatsapp:hover {
    color: #b8b8b8;
    transform: translateY(-5px);
    box-shadow: 0px 8px 6px rgba(146, 146, 146, 0.37);
}

.main-top-left .whatsapp:focus {
    transform: translateY(3px);
    box-shadow: none;
}

.main-top-right img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    opacity: 0.5;
    transition: all 1.5s;
}

.main-top-right img:hover {
    opacity: 0.9;
}

section {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    font-family: sans-serif;
    padding: 50px;
    position: relative;
    width: 100%;
    overflow: hidden;


    & h1 {

        text-transform: uppercase;
        font-size: 2em;
        letter-spacing: 4px;
        background: linear-gradient(90deg, #000, #fff, #000);
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 3s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);

    }

    @keyframes animate {
        0% {
            background-position: -500%;
        }

        100% {
            background-position: 500%;
        }
    }

    & .content {
        display: grid;
        grid-template-columns: 2fr 400px;
        gap: 100px;


        & .card {
            position: relative;
            display: flex;
            width: 35vw;
            align-items: center;

            & .card-img {
                position: relative;
                left: 0;
                top: 0;
                width: 50vh;
                align-items: center;

                & a {

                    & img {
                        width: 200px;
                        height: 180px;
                        border-radius: 10% 10% 0 10%;
                        background-color: #fff;
                        transition: 0.5s;
                        position: absolute;
                        left: 0;
                        top: -15vh;

                        &:hover {
                            border-radius: 15% 15% 0 15%;
                            opacity: 0.8;
                            box-shadow: 0px 10px 20px rgb(255, 255, 255);
                        }
                    }
                }
            }

            & .card-content {
                width: 90%;
                left: 20px;
                top: 0;
                position: relative;
                gap: 10px;

                & h2 {
                    position: relative;
                    left: 35%;
                    color: #fff;
                    font-family: "Poppins", sans-serif;
                    font-weight: 600;
                    top: -20px;
                }

                & p {
                    color: #fff;
                    font-family: "Poppins", sans-serif;
                    font-size: 15px;
                    line-height: 25px;
                    text-align: left;
                }
            }

            &::before {
                content: '';
                position: absolute;
                height: 176px;
                width: 90%;
                left: 10%;
                border-bottom: 1px solid #fff;
                opacity: 0.7;
            }
        }

    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

section {

    & .caroussel {
        display: flex;
        overflow: hidden;
        padding: 60px 0;
        background-color: #000;
        white-space: nowrap;
        position: relative;
        width: 100%;

        &:before,
        :after {
            position: absolute;
            top: 0;
            width: 250px;
            height: 100%;
            content: "";
            z-index: 2;
        }

        &:before {
            right: 0;
            background: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0), 100%);
        }

        &:after {
            left: 0;
            background: linear-gradient(to left, #000 0%, rgba(0, 0, 0, 0), 100%);
        }

        &:hover .caroussel-track {
            animation-play-state: paused;
        }

        & .caroussel-track {
            display: inline-block;
            animation: 35s slide infinite linear;

            & img {
                height: 100px;
                margin: 0 40px;

            }
        }

        @keyframes scroll {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-50%);
            }
        }
    }

}